#all {
max-height:300px;
    overflow-y: auto;
}
#all div{        
    border: 1px solid green;
    border-radius: 25px;
    float: left;
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}
select{
    padding: 10px;
}
input{
border: none;
border-bottom: 1px solid grey !important;
}
.w100{
    width:100%;
}
.add{
    border: 1px solid darkgrey;
    border-radius: 25px;
    float:right;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    background: lightgrey;
}
.add:focus{
    outline: none;
}
